
:root {
	--primary-50: #E0F7FF;
	--primary-100: #C2F0FF;
	--primary-200: #85E0FF;
	--primary-300: #47D1FF;
	--primary-400: #0AC2FF;
	--primary-500: #0099CC;
	--primary-600: #007AA3;
	--primary-700: #005C7A;
	--primary-800: #003D52;
	--primary-900: #001F29;
	--primary-950: #000F14;
}
